<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Monster Slayer</title>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="vue.js"></script>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div id="app">
    <section class="row">
        <div class="small-6 columns">
          <h1 class="text-center">YOU</h1>
              <div class="healthbar">
                <div class="healthbar text-center"
                     style="background-color: green; margin: 0; color: white;"
                     :style="{width: playerHealth + '%'}">
                  {{ playerHealth }}
                </div>
         </div>
      </div>
      <div class="small-6 columns">
        <h1 class="text-center">MONSTER</h1>
           <div class="healthbar">
                <div class="healthbar text-center"
                     style="background-color: green; margin: 0; color: white;"
                     :style="{width: monsterHealth + '%'}">
                  {{ monsterHealth }}
                </div>
             </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameIsRunning">
          <div class="small-12 columns">
                <button id="start-game" @click="StartNewGame">START NEW GAME</button>
          </div>
    </section>
    <section class="row controls" v-else>
          <div class="small-12 columns">
                <button id="attack" @click="attack">ATTACK</button>
                <button id="special-attack" @click="specialAttack" >SPECIAL ATTACK</button>
                <button id="heal" @click="heal">HEAL</button>
                <button id="give-up" @click="giveUp" >GIVE UP</button>
           </div>
    </section>
    <section class="row log" v-if="turns.length > 0">
         <div class="small-12 columns">
             <ul>
                <li v-for=" (turn,i) in turns"
                    :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
                  {{i}}-{{ turn.textLog }}
                </li>
              </ul>
          </div>
    </section>
  </div>
  <script src="js/app.js"></script>
</body>
</html>