<template>
  <div col-sm-6 col-md-4 col-lg-3>
    <div class="card">
      <div class="card-body item">
        <slot></slot>
        <slot name="hello"></slot>
        <slot name="footer"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
<style >
.card-body {
  font-size: 24px;
  font-family: "Arizonia", cursive;
  color: black;
}
.item {
  cursor: pointer;
}

.item:hover {
  background-color: rebeccapurple;
}
</style>
