<html>

<head>
    <title>Vue Js</title>
    <script src="vue.js"></script>
</head>
<div id="obj">
    <input type="text" @input="changeValue" />{{noidung}}
    <p v-once>{{noidung}}- {{show()}}</p>
    <a v-bind:href="link"> Hello</a>
    <br />
    <span v-bind:title="message">Rẻ chuột lên đây một vài giây thuộc tính title được bind
    </span>
    <p v-html="testhtml"></p>
    <button @click="warn('Chưa submit được form.', $event)">Submit</button>
    <div class="">
        <input type="text" @keyup.space="banphim" />
    </div>
</div>

<script>
    new Vue({
        el: "#obj",
        data: {
            noidung: "Hello Do Duc An",
            link: "https://vuejs.org/v2/guide/installation.html",
            testhtml: '<a href="https://vuejs.org/v2/guide/installation.html">Installation Vuejs</a>',
            x: 0,
            y: 0,
            message: "Bạn đã mở trang lúc " + new Date().toLocaleString()
        },
        methods: {
            changeValue: function(event) {
                this.noidung = event.target.value;
            },
            sayhello: function() {
                document.write("Hello");
            },
            show: function() {
                this.noidung = "hello";
                return this.noidung;
            }, //Hiển thị nội dung bằng v-once

            warn: function(message, event) {
                //bây giờ chúng ta có thể truy xuất đến sự kiện DOM native
                if (event) event.preventDefault();
                alert(message);
            },
            banphim: function() {
                alert("Hello");
            }
        }
    });
</script>

</html>