<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <component></component>
        <component></component>
        <component></component>
        <component></component>
        <component></component>
    </div>
    <script>
        // let data = {
        //     test: " Hello Việt nam"
        // };
        // var apt = {
        //     data: function() {
        //         return {
        //             test: "Hello Việt Nam"
        //         };
        //     },
        //     template: '<h1> Xin chào {{test}} </br> <button @click="changeTest">Click Change Test</button></h1>',
        //     methods: {
        //         changeTest: function() {
        //             this.test = "Share!";
        //         }
        //     }
        // };
        {
            test: " Hello Việt nam";
        }
        Vue.component("component", {
            data: function() {
                return {
                    test: "Hello Việt Nam"
                };
            },
            template: '<h1> Xin chào {{test}} </br> <button @click="changeTest">Click Change Test</button></h1>',
            methods: {
                changeTest: function() {
                    this.test = "Share!";
                }
            }
        });
        new Vue({
            el: "#app"
                // components: {
                //     'component': apt
                // }
        });
    </script>
</body>

</html>