<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-2 col-sm-6 offset-md-3">
        <h1>Default</h1>
        <p v-text="'1231321232132132'"></p>
      </div>
    </div>
    <div class="row" v-scroll:background="'red'">
      <div class="col-xs-12 col-sm-8 offset-2 col-sm-6 offset-md-3">
        <h1>Default</h1>
        <p v-text="'1231321232132132'"></p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  directives: {
    "local-custom": {
      bind(el, binding, vnode) {
        var delay = 0;
        if (binding.modifiers["delayed"]) {
          delay = 3000;
        }
        setTimeout((){
          if (binding.arg == "background") {
            el.style.backgroundColor = binding.value;
        } else{
            el.style.color = binding.value;}
    },delay);

      }
    }
  }
};
</script>

<style></style>
