<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-2 col-sm-6 offset-md-3"></div>
    </div></div
></template>

<script>
export default {};
</script>

<style></style>
