<html>

<head>
    <title>Vue Js</title>
    <script src="vue.js"></script>
</head>
<div v-on:mousemove="tinhtoado" id="obj">
    <input type="text" @input="changeValue" />{{noidung}}
    <button @click="tangvalue">Tăng giá trị</button>
    <button @click="dem++">Tăng giá trị Javascript</button>
    <p>Giá trị {{dem}}</p>
    <p>
        Giá trị {{dem>20 ?'Bạn đã vượt quá giới hạn':'Bạn vẫn nằm trong giới hạn'}}
    </p>
    <p v-once>{{noidung}}- {{show()}}</p>
    <a v-bind:href="link"> Hello</a>
    <span v-bind:title="message"></span>
    <p>Giá trị tọa độ {{x}} /{{y}}</p>
    <span @mousemove="dungsukien"> Dừng sự kiện </span>
    <br />
    <span @mousemove.stop> Dừng sự kiện </span>
    <p v-html="testhtml"></p>
    <button @click="warn('Chưa submit được form.', $event)">Submit</button>
    <div class="">
        <input type="text" @keyup.space="banphim" />
    </div>
</div>

<script>
    new Vue({
        el: "#obj",
        data: {
            dem: 0,
            noidung: "Hello Do Duc An",
            link: "https://vuejs.org/v2/guide/installation.html",
            testhtml: '<a href="https://vuejs.org/v2/guide/installation.html">Installation Vuejs</a>',
            x: 0,
            y: 0
        },
        methods: {
            changeValue: function(event) {
                this.noidung = event.target.value;
            },
            sayhello: function() {
                document.write("Hello");
            },
            show: function() {
                this.noidung = "hello";
                return this.noidung;
            }, //Hiển thị nội dung bằng v-once
            tangvalue: function() {
                this.dem++;
            },
            warn: function(message, event) {
                //bây giờ chúng ta có thể truy xuất đến sự kiện DOM native
                if (event) event.preventDefault();
                alert(message);
            },
            //Tính tọa độ
            tinhtoado: function(event) {
                this.x = event.clientX;
                this.y = event.clientY;
            },
            dungsukien: function(event) {
                event.stopPropagation(); //Dừng sự kiện event mouse
            },
            banphim: function() {
                alert("Hello");
            }
        }
    });
</script>

</html>