<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <script src="vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <style>
        .vuong {
            width: 100px;
            height: 100px;
            background-color: darkgray;
            display: inline-block;
            margin: 10px;
        }
        
        .do {
            background-color: red;
        }
        
        .xanhduong {
            background-color: blue;
        }
        
        .xanhcay {
            background-color: green;
        }
    </style>
    <div @mousemove="setToado" id="obj">
        <button @click="dem++">Tăng giá trị</button>
        <button @click="tangValue">Tăng giá trị bằng hàm</button>
        <p>Giá trị đếm {{dem}}</p>
        <p>
            Giá trị {{dem>20? "Bạn đã vượt quá giới hạn" : "Bạn vẫn đang nằm trong giới hạn"}}
        </p>
        <p>Tọa độ chuột {{x}}/{{y}}</p>
        <p @mousemove="dungsukien">Dừng sự kiện tọa độ chuột</p>
        <p @mousemove.stop>Dừng sự kiện tọa độ chuột</p>
    </div>

    <div id="ob">
        <div class="vuong"></div>
        <div class="vuong"></div>
        <div class="vuong"></div>
        <div class="vuong"></div>
    </div>
    <script>
        new Vue({
            el: "#obj",
            data: {
                dem: 0,
                x: 0,
                y: 0
            },
            methods: {
                tangValue: function() {
                    this.dem++;
                },
                setToado: function(event) {
                    this.x = event.clientX;
                    this.y = event.clientY;
                },
                dungsukien: function(event) {
                    event.stopPropagation();
                }
            }
        });
    </script>
</body>

</html>