<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <script src="vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div @mouemove="setToado" id="obj">
        <button @click="dem++">Tăng giá trị</button>
        <button @click="tangValue">Tăng giá trị bằng hàm</button>
        <p>Giá trị đếm {{dem}}</p>
        <p>
            Giá trị {{dem>20? "Bạn đã vượt quá giới hạn" : "Bạn vẫn đang nằm trong giới hạn"}}
        </p>
    </div>
    <script>
        new Vue({
            el: "#obj",
            data: {
                dem: 0,
                x,
                y
            },
            methods: {
                tangValue: function() {
                    this.dem++;
                }
            }
        });
    </script>
</body>

</html>