<template>
  <div class="col-xs-12 col-sm-6">
    <p>ServerDetails are</p>
  </div>
</template>

<script>
export default {};
</script>

<style>
.col-xs-12.col-sm-6 {
  border: 1px solid red;
}
</style>
