<template>
  <div class="col-xs-12 col-sm-6">
    <p>ServerDetails are</p>
    <p>My age: {{customAge}}</p>
    <button @click="ChangeAge">Thay đổi tuổi</button>
  </div>
</template>

<script>
import eventBus from "../main.js";
export default {
  props: {
    customAge: Number
  },
  methods: {
    ChangeAge() {
      this.customAge = 30;
      // this.$emit("ageWasEdit", this.customAge);
    }
  }
};
</script>

<style scoped>
div {
  border: 1px solid red;
}
</style>
