<template>
  <div class="col-xs-12 col-sm-6">
    <p>ServerDetails are</p>
    <p>My age: {{customAge}}</p>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
div {
  border: 1px solid red;
}
</style>
