<template>
  <div>
    <h1>Test 3</h1>
    <h3>Information user Details</h3>
    <p>My name :{{customName}}</p>
  </div>
</template>

<script>
//Props dùng để truyền  dữ liệu từ component cha sang con .
// và các component con truyền thông báo đến các component cha thông qua các sự kiện
export default {
  props: ["customName"]
};
</script>

<style>
</style>
