<template>
  <div>
    <h1>Test 3</h1>
    <h3>Information user Details</h3>
    <p>My name :{{customName}}</p>
    <p>My name :{{reverseName()}}</p>
    <p>My Age :{{customAge}}</p>
    <br />
    <button @click="ChangeStatus">Đổi trạng thái</button>
    <br />
    <button @click="resetNameFn()">Đổi trạng thái với call back</button>
  </div>
</template>

<script>
//Props dùng để truyền  dữ liệu từ component cha sang con .
// và các component con truyền thông báo đến các component cha thông qua các sự kiện
import eventBus from "../main.js";
export default {
  props: {
    customName: String,
    resetNameFn: Function,
    customAge: Number
  },
  methods: {
    reverseName() {
      return this.customName
        .split("")
        .reverse()
        .join("");
    },
    ChangeStatus() {
      this.customName = "Hello";
      eventBus.$emit("nameWaReset", this.customName);
    }
  },
  created() {
    eventBus.$on("ageWasEdit", age => {
      this.customAge = age;
    });
  }
};
</script>

<style>
</style>
