<template>
  <div id="app">
    <Card></Card>
  </div>
</template>

<script>
import Card from "./components/Card";
export default {
  components: {
    Card: Card
  }
};
</script>

<style lang="scss"></style>
