<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <Card cardWords=""></Card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Card from "./components/Card";
export default {
  components: {
    Card: Card
  }
};
</script>

<style lang="scss"></style>
