<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-outline-danger" @click="selectedComponent = 'Card'">Card</button>
          <button class="btn btn-outline-danger" @click="selectedComponent = 'About'">About</button>
          <button class="btn btn-outline-danger" @click="selectedComponent = 'Contact'">Contact</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <keep-alive>
            <component :is="selectedComponent" :items="items"></component>
          </keep-alive>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Card from "./components/Card";
import Contact from "./components/Contact";
import About from "./components/About";
export default {
  data: function() {
    return {
      items: ["Do An", "Do Duc An"],

      selectedComponent: ""
    };
  },
  components: {
    Card: Card,
    Contact: Contact,
    About: About
  }
};
</script>

<style lang="scss"></style>
