<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-outline-danger">Card</button>
          <button class="btn btn-outline-danger">About</button>
          <button class="btn btn-outline-danger"></button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <Card cardWords="Cat">
            <p>Black Cat</p>
            <p>White Cat</p>
          </Card>
        </div>
        <div class="col-sm-12">
          <Contact>
            <p>Black Cat</p>
            <p>White Cat</p>
          </Contact>
        </div>
        <div class="col-sm-12">
          <About>
            <p>Black Cat</p>
            <p>White Cat</p>
          </About>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Card from "./components/Card";
import Contact from "./components/Contact";
import About from "./components/About";
export default {
  components: {
    Card: Card,
    Contact: Contact,
    About: About
  }
};
</script>

<style lang="scss"></style>
