<template>
  <div class="container">
    <h2>Hello {{test}}</h2>
    <contact-component></contact-component>
    <div class="row"></div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      test: " Việt Nam"
    };
  },
  compo
};
</script>

<style>
</style>
