<template>
  <h1>Hello world!</h1>
  <h2>Xin chào {{test}}</h2>
</template>

<script>
export default {
  data: function() {
    return {
      test: "Hello Việt Nam"
    };
  }
};
</script>

<style>
</style>
