<template>
  <div>
    <h2>Xin chào {{test}}</h2>
    <contact-component></contact-component>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      test: "Hello Việt Nam"
    };
  }
};
</script>

<style>
</style>
