<template>
  <div class="container">
    <h2>Hello {{test}}</h2>
    <contact-component></contact-component>
    <div class="row"></div>
    <test1-component></test1-component>
    <test2-component></test2-component>
    <test3-component></test3-component>
  </div>
</template>

<script>
import { test1 } from "./components/Test1.vue";
import { test2 } from "./components/Test2.vue";
import { test3 } from "./components/Test3.vue";
export default {
  data: function() {
    return {
      test: " Việt Nam"
    };
  },
  components: {
    "test1-component": test1,
    "test2-component": test2,
    "test3-component": test3
  }
};
</script>

<style>
</style>
