<template>
  <div class="container">
    <h2>Hello {{name}}</h2>
    <contact-component></contact-component>
    <button @click="changeName">Change Name</button>
    <hr />
    <div class="row">
      <test1-component></test1-component>
      <test2-component></test2-component>
      <test3-component :customName="name" @nameWaReset="name=$event"></test3-component>
    </div>
  </div>
</template>

<script>
import test1 from "./components/Test1";
import test2 from "./components/Test2";
import test3 from "./components/Test3";
export default {
  data: function() {
    return {
      name: " Việt Nam"
    };
  },
  methods: {
    changeName() {
      this.name = "Đỗ An";
    }
  },
  components: {
    "test1-component": test1,
    "test2-component": test2,
    "test3-component": test3
  }
};
</script>

<style>
</style>
