<template>
  <div>
    <h1>Hello world {{test}}</h1>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      test: "Hello Việt Nam"
    };
  }
};
</script>

<style>
</style>
