<template>
  <div>
    <h1>From Contact form</h1>
  </div>
</template>

<script>
import DataContact from "./DataContact.vue";

export default {
  components: {
    "datacontact-component": DataContact
  }
};
</script>

<style>
</style>
