<template>
  <div class="container"></div>
</template>

<script>
import ItemsLayout from "./components/ItemsLayout";
export default {
  data: function() {
    return {
      items: ["I love You"],
      maxItems: 10
    };
  },
  components: {
    itemsLayout: ItemsLayout
  }
};
</script>

<style >
</style>
