<template>
  <div class="container"></div>
</template>

<script>
export default {
  data: function() {
    return {
      items: ["I love You"],
      maxItems: 10
    };
  }
};
</script>

<style >
</style>
