<template>
  <div class="container">
    <appheader :itemCount="items.length" :maxItem="maxItems"></appheader>
    <newItems @addedItem="add"></newItems>
    <itemsLayout :items="items" @removeItem="removeItem"></itemsLayout>
  </div>
</template>

<script>
import ItemsLayout from "./components/ItemsLayout";
import NewItems from "./components/newItems";
import Header from "./components/Header";

export default {
  data: function() {
    return {
      items: ["I love You", "Việt Nam"],
      maxItems: 10
    };
  },
  components: {
    itemsLayout: ItemsLayout,
    newItems: NewItems,
    appheader: Header
  },
  methods: {
    add(item) {
        for(var i=0;i<this.items.length;i++){
            this.items[0]==item{
                return true;
            }
            return false;
        }
      if (this.items.length >= 10) {
        return alert("Please remove item first !");
      }
      this.items.push(item);
    },
    removeItem(index) {
      this.items.splice(index, 1);
    }
  }
};
</script>

<style >
</style>
