<template>
  <div class="container">
    <newItems @addedItem="add"></newItems>
    <itemsLayout :items="items"></itemsLayout>
    <addItems @addedItems="addedItems"></addItems>
  </div>
</template>

<script>
import ItemsLayout from "./components/ItemsLayout";
import NewItems from "./components/newItems";
import AddItems from "./components/AddItems";
export default {
  data: function() {
    return {
      items: ["I love You", "Việt Nam"],
      maxItems: 10
    };
  },
  components: {
    itemsLayout: ItemsLayout,
    newItems: NewItems,
    addItems: AddItems
  },
  methods: {
    add(item) {
      this.items.push(item);
    }
  }
};
</script>

<style >
</style>
