<template>
  <div class="container">
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
  </div>
</template>

<script>
import ItemsLayout from "./components/ItemsLayout";
export default {
  data: function() {
    return {
      items: ["I love You"],
      maxItems: 10
    };
  }
};
</script>

<style >
</style>
