<template>
  <div class="container">
    <appheader :itemCount="items.length" :maxItem="maxItems"></appheader>
    <newItems @addedItem="add"></newItems>
    <itemsLayout :items="items" @removeItem="removeItem"></itemsLayout>
    <SlotComponent>
      <template v-slot:header></template>
    </SlotComponent>
  </div>
</template>

<script>
import ItemsLayout from "./components/ItemsLayout";
import NewItems from "./components/newItems";
import Header from "./components/Header";
import SlotComponent from "./components/SlotComponent";
export default {
  data: function() {
    return {
      items: ["I love You", "Việt Nam"],
      maxItems: 10
    };
  },
  components: {
    itemsLayout: ItemsLayout,
    newItems: NewItems,
    appheader: Header,
    SlotComponent: SlotComponent
  },
  methods: {
    add(item) {
      if (this.items.includes(item)) {
        alert("Bạn đã nhập trùng");
        return false;
      } else if (this.items.length >= 10) {
        return alert("Please remove item first !");
      }
      this.items.push(item);
    },

    removeItem(index) {
      this.items.splice(index, 1);
    }
  }
};
</script>

<style >
</style>
