<template>
  <div class="container">
    <newItems @addedItem="add(item)"></newItems>
    <itemsLayout :items="items"></itemsLayout>
  </div>
</template>

<script>
import ItemsLayout from "./components/ItemsLayout";
import NewItems from "./components/newItems";
export default {
  data: function() {
    return {
      items: ["I love You", "Việt Nam"],
      maxItems: 10
    };
  },
  components: {
    itemsLayout: ItemsLayout,
    newItems: NewItems
  },
  methods: {
    add(item) {
      this.item.push(item);
    }
  }
};
</script>

<style >
</style>
