<html>

<head>
    <title>Vue Js</title>
    <script src="vue.js"></script>
</head>
<div id="app">
    <p v-if="dem">Hi</p>
    <p v-else>ok tks</p>
    <!--            Getting the Current Index-->
    <!--            for( i=0 ; i<array.length;i++);-->
    <button @click="dem =!dem">click change</button>
    <ul>
        <li v-for="(menu,i) in menus">{{menu}} Voi index : {{i}}</li>
    </ul>
    <ul>
        <li v-for="student in students">
            {{student.address}}<a v-for="value in student">{{value}}</a>
        </li>
    </ul>
    <template v-for="(menu,i) in menus" v-if="dem"><h3>{{menu}}</h3>
      <p>{{i}}</p></template
    >
  </div>

  <script>
    new Vue({
      el: "#app",
      data: {
        dem: true,
        menus: ["Home", "About", "Blog", "Contact", "FAQ"],
        students: [
          { name: "Do An", age: "22", address: "Khuong Dinh" },
          { name: "Do Su", age: "22", address: "Hoang Mai" },
          { name: "Thanh Huyen", age: "22", address: "Kim Giang" }
        ]
      }
    });
  </script>
</html>