<html>
<head>
    <title>Vue Js</title>
    <script src="vue.js"></script>
</head>
        <div id="app">
            <h1 ref="inforbutton"> {{title}}</h1>
            <h1> After Computed :{{ LowercaseTitle}}</h1>
            <button @click="show" > show</button>
            <p v-if="showparagraph">orem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>


<script>
    var vn =new Vue(
        {
            el:'#app',
            data : {
                    title :'Vue Instance',
                    showparagraph:false
                   },
            methods:{
                show:function () {
                    this.showparagraph=true;
                    this.updatetitle('this vue is Instance (Updated)');
                    console.log(this.$refs.inforbutton.innerText);

                },
                updatetitle:function (title) {
                    this.title=title;
                }
            },
            computed:{
                LowercaseTitle:function () {
                    return this.title.toLocaleLowerCase();
                }   
            },
            watch:{
                title: function (value) {
                    alert('Title changed ,new value'+ value);
                }
            }

        });
        vn.$refs.inforbutton.innerText="Do duc an";
    console.log(vn);

</script>
</html>