<html>

<head>
    <title>Vue Js</title>
    <script src="vue.js"></script>
    <style>
        .vuong {
            width: 100px;
            height: 100px;
            background-color: darkgray;
            display: inline-block;
            margin: 10px;
        }
        
        .do {
            background-color: red;
        }
        
        .xanhduong {
            background-color: blue;
        }
        
        .xanhcay {
            background-color: green;
        }
    </style>
</head>
<div id="mau">
    <div class="vuong" :style="{backgroundColor :color}"></div>
    <div class="vuong" :style="customestyle"></div>
    <div class="vuong" @click="isRed=!isRed" :class="changecolor?{do:isRed}:{xanhduong:isBlue}"></div>
    <div class="vuong" @click="isRed=!isRed" class="changecolor?{do:isRed}:{xanhduong:isBlue}"></div>
    <div class="vuong" @click="isBlue=!isBlue"></div>
    <div class="vuong" @click="isRed=!isRed" :class="changecolor?{do:isRed}:{xanhduong:isBlue}"></div>
    <br />
    <input type="text" v-model="color" />
    <input type="text" v-model="width" />
    <input type="text" v-model="height" />
    <hr />
</div>
<div id="app">
    <input type="text" v-model="name" />
    <p>{{ name }}</p>
    <p>Gia tri A {{tanga}}</p>
    <p>Gia tri B {{tangb}}</p>
    <button @click="a++">Tăng a</button>
    <button @click="b++">Tăng b</button>
    <hr />
    <br />
    <a :href="link">Link</a>
    <button @click="changelink">Change Link</button>
    <p>{{diem}}</p>
</div>

<script>
    new Vue({
        el: "#mau",
        data: {
            isRed: false,
            isBlue: false,
            color: "gray",
            width: 100,
            height: 100
        },
        computed: {
            changecolor: function() {
                if (this.isRed == true) return true;
                else return false;
            },
            customestyle: function() {
                return {
                    backgroundColor: this.color,
                    width: this.width + "px",
                    height: this.height + "px"
                };
            }
        }
    });
    var app = new Vue({
        el: "#app",
        data: {
            name: "Do An",
            a: 0,
            b: 0,
            diem: "Ban A co mon toan 7 diem",
            link: "https://www.google.com.vn/?hl=vi"
        },
        computed: {
            tanga: function() {
                console.log("a");
                return this.a;
            },
            tangb: function() {
                console.log("b");
                return this.b;
            }
        },
        watch: {
            diem: function(newValue) {
                alert("diem da sua doi");
            }
        },
        methods: {
            changelink: function() {
                this.link = "https://www.facebook.com/";
            }
        }
    });
    //app.diem = "Ban A co mon toan 8 diem";
</script>

</html>