<template>
  <div>
    <p>Address:{{address}}</p>
    <hr />
    <button @click="changePhone">Show My Phone</button>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      address: "2 Kim Giang , Hoang Mai , Ha Noi"
    };
  },
  methods: {
    changePhone: function() {
      this.address = "0916301763";
    }
  }
};
</script>

<style>
</style>
