<template>
  <div class="row">
    <h2>Add Item</h2>
    <form action>
      <div class="col-sm-8 offset-sm-3 col-md-6 offset-md-3 form-group">
        <textarea class="form-group" v-model="maxItems" name id cols="30" rows="10"></textarea>
      </div>
      <div class="col-sm-8 offset-sm-3 col-md-6 offset-md-3 form-group">
        <button class="btn btn-success" @click.prevent="addItems">Add</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      maxItems: ""
    };
  },
  methods: {
    addItems() {
      if ((this.maxItems = "")) return false;
      else {
        this.$emit("addedItems", this.maxItems);
        this.maxItems = "";
      }
    }
  }
};
</script>

<style>
</style>