<template>
  <div class="row">
    <form action>
      <div class="col-sm-8 offset-sm-3 col-md-6 offset-md-3 form-group">
        <textarea class="form-group" name id cols="30" rows="10"></textarea>
      </div>
    </form>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>