<template>
  <div class="row">
    <form action>
      <div class="col-sm-8 offset-sm-3 col-md-6 offset-md-3 form-group"></div>
    </form>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>