<template>
  <div class="row mb-3">
    <div class="col-sm-12">
      <h3>Item Added</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>