<template>
  <div col-sm-6 col-md-4 col-lg-3>
    <div class="card">
      <div class="card-body">
        <span></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style >
</style>
