<template>
  <div class="container">
    <items v-for="item in items">{{item}}</items>
    <items v-for="maxItem in maxItems">{{maxItem}}</items>
  </div>
</template>

<script>
import Items from "./Items.vue";
export default {
  props: ["items", "maxItems"],
  components: {
    items: Items
  }
};
</script>

<style >
</style>
