<template>
  <div>
    <span>{{items}}</span>
  </div>
</template>

<script>
import Items from "./Items.vue";
export default {
  props: ["items"],
  components: {
    items: Items
  }
};
</script>

<style >
</style>
