<template>
  <div class="container">
    <items
      v-for="(item,index) in items"
      v-bind:data="items"
      v-bind:key="item"
      @click.native="removeItem(index)"
    >{{item}}</items>
    <!-- <items v-for="maxItem in maxItems">{{maxItem}}</items> -->
    <h2 slot="hello">123123</h2>
  </div>
</template>

<script>
import Items from "./Items.vue";
export default {
  props: ["items", "maxItems"],
  components: {
    items: Items
  },
  methods: {
    removeItem(index) {
      this.$emit("removeItem", index);
    }
  }
};
</script>

<style >
</style>
