<template>
  <div col-sm-6 col-md-4 col-lg-3>
    <div class="card">
      <div class="card-body item">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
<style >
.card-body {
  font-size: 24px;
  font-family: "Arizonia", cursive;
  color: #0da53a;
}
.item {
  cursor: pointer;
}
.item .hover {
  background-color: rgb(35, 131, 241);
}
</style>
