
<template>
  <div class="row">
    <form>
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 form-group">
        <label for>Add Items</label>
        <textarea class="form-group" v-model="item" name id cols="30" rows="10"></textarea>
      </div>
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 form-group">
        <div class="btn btn-success" @click.prevent="createNew">Add</div>
      </div>
    </form>
    <template></template>
  </div>
</template>
<script>
export default {
  data: function() {
    return {
      item: ""
    };
  },
  methods: {
    createNew() {
      if (this.item == "") {
        return false;
      } else {
        this.$emit("addedItem", this.item);
        this.item = "";
      }
    }
  }
};
</script>

<style scoped>
textarea {
  width: 100%;
}
form {
  width: 100%;
}
</style>