
<template>
  <div class="row">
    <form>
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
        <label for>Việt Nam</label>
        <textarea class="form-group" v-model="item" name id cols="30" rows="10"></textarea>
      </div>
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
        <div class="btn btn-success" @click.prevent="createNew">Add</div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      item: ""
    };
  },
  methods: {
    createNew() {
      this.$emit("addedItem", this.item);
    }
  }
};
</script>

<style>
</style>