
<template>
  <div class="row">
    <form>
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group"></div>
    </form>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>