<template>
  <div>
    <slot name="header"></slot>
    <h1>test slot</h1>
    <slot name="footer"></slot>
    <slot name="hello"></slot>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>