<template>
  <div><h1>About Page</h1></div>
</template>

<script>
export default {
  activated() {
    console.log("Active About");
  },
  deactivated() {
    console.log("Deactive About");
  }
};
</script>

<style scoped>
div {
  width: 100%;
  border: 1px solid #cccc;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, -6);
  padding: 30px;
  margin: 10px auto;
  text-align: center;
}
</style>
