<template>
  <div>
    <h2>{{ cardWords }}</h2>
    <p>This is my car !</p>
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: ["cardWords"],
  activated() {
    console.log("Active Card");
  },
  deactivated() {
    console.log("Deactive Contact");
  }
};
</script>

<style scoped>
div {
  width: 100%;
  border: 1px solid #cccc;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, -6);
  padding: 30px;
  margin: 10px auto;
  text-align: center;
}
</style>
