<template>
  <div class="col-xs-12">
    <h1>Contact Page</h1>
    <span>List Items</span>
    <form action>
      <div class="col-sm-8 offset-sm-3 col-md-6 off set-md-3 form-group">
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-success"
            role="progressbar"
            style="width: 25%"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
      <div class="col-sm-8 offset-sm-3 col-md-6 off set-md-3 form-group">
        <div class="btn btn-success">Tang gia tri</div>
      </div>
    </form>

    <button @click="count++">Increased Value</button>
    <p>Value :{{ count }}</p>
  </div>
</template>

<script>
export default {
  props: ["items"],
  data: function() {
    return {
      count: 0
    };
  },
  destroyed() {
    console.log("Destroyed!");
  },
  activated() {
    console.log("Active Contact");
  },
  deactivated() {
    console.log("Deactive Contact");
  }
};
</script>

<style scoped>
/* div {
  width: 100%;
  border: 1px solid #cccc;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, -6);
  padding: 30px;
  margin: 10px auto;
  text-align: center;
} */
</style>
