<template>
  <div>
    <h1>Contact Page</h1>
    <button @click="count++">Increased Value</button>
    <p>Value :{{ count }}</p>
  </div>
</template>

<script>
export default {
    data:function(){
        return {
            count:0;
        }
    }
};
</script>

<style scoped>
div {
  width: 100%;
  border: 1px solid #cccc;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, -6);
  padding: 30px;
  margin: 10px auto;
  text-align: center;
}
</style>
