<template>
  <div class="col-xs-12">
    <h1>Contact Page</h1>
    <span>List Items</span>
    <form action>
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 form-group">
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-success"
            role="progressbar"
            :style="{width:  (itemCount/maxItems)*100 +'%'}"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
          {{itemCount}}/{{maxItems}}
        </div>
        <br />
        <textarea v-model="item" class="form-group" name id cols="30" rows="10"></textarea>
      </div>

      <div class="col-sm-8 offset-sm-3 col-md-6 off set-md-3 form-group">
        <div class="btn btn-success" @click.prevent="createNew">Tang gia tri</div>
      </div>
    </form>
    <div col-sm-6 col-md-4 col-lg-3>
      <div class="card">
        <div class="card-body item" v-for="ite in items" v-data="index" v-key="key">{{ite}}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["items", "maxItems", "itemCount"],
  data: function() {
    return {
      item: ""
    };
  },
  // destroyed() {
  //   console.log("Destroyed!");
  // },
  // activated() {
  //   console.log("Active Contact");
  // },
  // deactivated() {
  //   console.log("Deactive Contact");
  // },
  method: {
    createNew: function() {
      this.$emit("addItem", this.item);
      this.item = " ";
    }
  }
};
</script>

<style scoped>
/* div {
  width: 100%;
  border: 1px solid #cccc;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, -6);
  padding: 30px;
  margin: 10px auto;
  text-align: center;
} */
</style>
